.red{
  background: red;
  color: #fff;
  font-weight: 900;
  padding: 1%;
}
.green{
  background: green;
  color: #fff;
  font-weight: 900;
  padding: 1%;
}
.blue{
  background: blue;
  color: #fff;
  font-weight: 900;
  padding: 1%;
}